
/*css pour la home page */
/* Ajoutez ce style à votre fichier CSS ou à votre balise style dans le composant React */
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajustez la hauteur en fonction de vos besoins */
}

.home-page-content button {
  margin: 30px;
  padding: 30px 50px;
  font-size: 31px;
}
